@import url('https://fonts.googleapis.com/css?family=Tangerine');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poopins";
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    width: 100%;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: #e8e7e7;
    box-shadow: 0 0 10px rgba(0, 0, 0,.4);
}
.header .Logo{
    color: #222;
    font-size: 60px;
    font-weight: 500;
    font-family: 'Courier New';
    text-decoration: none;
}
.header a span{
    color: #585858;
}
.header .navbar a{
    color: #222;
    text-decoration: none;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 1000;
    font-family: 'Courier New';
    padding: 10px 40px;
    border-radius: 0px;
    
}

.activity-section i{
    color:#222;
    font-size: 25px;
    margin-left: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10%;
    transition: .3s;
}
.activity-section i:hover{
    background: #585858;
    color: #fff;
}
.btn{
    height: 50px;
    width: 140px;
    border-radius: 8px;
    background:#585858;
    color: #fff;
    font-size: 16px;
    outline: none;
    border: 2px solid #585858;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Courier New';
    z-index: 1;
    position: relative;
    overflow: hidden;
}
.btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #e8e7e7;
    height: 100%;
    width: 00%;
    z-index: -1;
    transition: .3s;
}
.btn:hover::before{
    width: 100%;
}
.btn:hover{
    color: #585858;

}
section{
    padding: 10rem 9% 2rem ;
    background:#e8e7e7 ;
    
    
}
.home-section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.home-section .text-content h5{
    font-size: 20px;
    color: #585858;
    font-weight: 500;
    font-family: 'Courier New';
}
.home-section .text-content h2{
    font-size: 75px;
    color: #222;
    font-weight: 600;
    font-family: 'Courier New';
}
.home-section .text-content h3{
    font-size: 75px;
    color: #222;
    font-weight: 1000;
    font-family: 'Courier New';
}
.home-section .text-content p{
    max-width: 600px;
    color: #222;
    font-weight: 500;
    font-family: 'Courier New';
}
.home-section .text-content .btn{
    margin-top: 20px;
}
.home-section .image-section img{
    width: 35vw;
    animation: Bounce 4s ease forwards infinite;
}
@keyframes Bounce{
    0%{
        transform: translateY(-24px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-24px);
    }
}
 .Clothes-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 10rem 0% 3rem;
 }
 .clothes-image img{
    width: 200px;
 }
 .heading{
    font-size: 36px;
    height: 100px;
    text-align: center;

 }
 .heading span{
    color: #222;
    font-family: 'Courier New';
 }
 .clothesGallery{
    display: flex;
    justify-content: center;

 }
 .clothesGallery .clothes-image{
    height: 300px;
    width: 250px;
    padding: 0 3px 0 0;
    box-shadow: 0 0 5px #222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
 }
 .clothes-image img{
    height: 290px;
    position: absolute;
    top: -45%;
 }
 .inner-text{
    margin-top: 5px;
    text-align: center;
 }
 .inner-text h1{
    font-family: 'Courier New';
    font-size: 100px;
 }
 .text-content{
    vertical-align: auto;
}
.nazwa{
    height: max-content;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    font-family: "Montserrat", sans-serif;
}

 